<h1>All Shelters</h1>

<p>
  <% @shelters.each do |shelter| %>
    <section id="shelter-<%= shelter.id %>", align="center">
      <h2><%= link_to "#{shelter.name}", "/shelters/#{shelter.id}" %></h2>
      <%= link_to 'Edit This Shelter', "/shelters/#{shelter.id}/edit" %></br>
      <% if shelter.applications? %>
        <%= button_to 'Delete', "/shelters/#{shelter.id}", method: :delete %>
      <% else %>
      <% "Can not Delete this shelter." %>
      <% end %>
      <%= link_to 'New Shelter', "/shelters/new" %>
      <br/></br>
    <% end %>
  </section>
</p>
