<h1>Shelter Pets</h1>


  <% @shelter.pets.each do |pet| %>
  <a href=<%="/pets/#{pet.id}"%>
  <p> <%= image_tag(pet.image) %> <br/>
    <%= pet.name %> <br/></a>
    <%= pet.age %> <br/>
    <%= pet.sex %> <br/>
    <a href="/pets/<%= pet.id %>/edit">Update Pet</a>
    <%= button_to 'Delete', "/pets/#{pet.id}", method: :delete %>

  <%  end %> </p>
