<h1> <%= @shelter.name %> </h1>
  <ul>
    <li><%= @shelter.address %></li>
    <li><%= @shelter.city %></li>
    <li><%= @shelter.state %></li>
    <li><%= @shelter.zip %></li>
  </ul>

  <p1>
  <h2>See reviews below:</h2>
  <% @reviews.each do |review| %>
    <ul>
        <li>Title: <%= review.title %></li>
        <li>Content: <%= review.content %></li>
        <li>Review: <%= review.rating %></li>
        <li><%= image_tag(review.picture, size: "200x200")%></li>
    </ul>
  <% end %>
  </p1>

  <%= link_to 'Create New Review', "/shelters/#{@shelter.id}/new"%>
  <br/>
  <a href="/shelters/<%= @shelter.id %>/pets">Pets</a><br/>
  <a href="/shelters/<%= @shelter.id %>/pets/new">New Pet</a><br/>
  <a href="/shelters/<%= @shelter.id %>/edit">Edit This Shelter</a>
  <br/>
  <%= link_to 'Return To Shelters Index Page', '/shelters' %>
  <br/>
  <%= button_to 'Delete', "/shelters/#{@shelter.id}", method: :delete %>
