<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <section id="pet-<%= pet.id %>">
    <p>
      <%= image_tag(pet.image, size: "200x200") %></br>
      <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></a></br>
      Age: <%= pet.age %><br/>
      Sex: <%= pet.sex %><br/>
      Shelter: <a href="/shelters/<%= pet.shelter_id %>"><%= @shelters.find(pet.shelter_id)[:name] %></a><br/>
      <%= link_to 'Update Pet', "/pets/#{pet.id}/edit" %>
      <% if !pet.applications.empty? %>
        <%= "Can not delete pet" %>
        <% else %>
        <%= button_to 'Delete', "/pets/#{pet.id}", method: :delete %>
      <% end %>
    </p><br/>
  </section>
<% end %>
