<h1>Pet Attributes</h1>
<p>
    <%= image_tag(@pet.image) %><br/>
    <%= @pet.name %><br/>
    <%= @pet.description %><br/>
    <%= @pet.age %><br/>
    <%= @pet.sex %><br/>
    <%= @pet.adopted %><br/>
    <%= button_to 'Delete', "/pets/#{@pet.id}", method: :delete %>

</p><br/>
<a href="/pets/<%= @pet.id %>/edit">Update Pet</a>
<br/>
