<h1>Pet Attributes</h1>

<p>
  <%= image_tag(@pet.image, size: "200x200") %><br/>
  <%= @pet.name %><br/>
  <%= @pet.description %><br/>
  <%= @pet.age %><br/>
  <%= @pet.sex %><br/>
  <%= @pet.adopted %><br/>
  <%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %>
  <% if session[:favorites] && session[:favorites].has_key?(@pet.id.to_s) %>
    <%= button_to "Remove Pet From Favorites", "/favorite/#{@pet.id}", method: :delete %><br/>
    <% else %>
    <%= button_to "Favorite Pet", "/favorite/#{@pet.id}", method: :patch %><br/>
  <% end %>
  <% if !@pet.applications.empty? %>
    <%= "Can not delete pet" %>
    <% else %>
    <%= button_to 'Delete', "/pets/#{@pet.id}", method: :delete %>
  <% end %>
  <%= link_to 'View Applications', "/application/#{@pet.id}/index" %>
  <% @pet.applications.each do |app| %>
    <% if @pet.adopted == "Adoption Pending" %>
      <%= link_to "#{@pet.name}", "/pets/#{@pet.id}" %>
      <%= "is on hold for" %>
      <%= link_to "#{app.name}", "application/#{app.id}" %>
    <% end %>
  <% end %>
</p></br>
