<h1>Edit This Review</h1>
<form action="/shelters/<%= @review.id %>/review" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit</p>
  <input type='text' name='title' value="<%= @review.title %>"/><br/>
  <textarea name='content'><%= @review.content %></textarea><br/>
  <textarea name='rating'><%= @review.rating %></textarea><br/>
  <textarea name='picture'><%= @review.picture %></textarea><br/>
  <input type='submit' name='submitter'/>
</form>
